<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
    <link href="styles/nav.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <header id="nav-target" class="main-header">
        <!-- <nav class="header-container">
            <section class="nav-section">
                <img src="images/logo.png" alt="logo" class="logo">
                <h1 class="coffee-title">THREE PINES COFFEE</h1>

                <ul>
                    <button class="dropbtn"><a href="/community.html">Menu</a></button>
                    <div class="dropdown">
                        <button class="dropbtn"><a href="/community.html">Community</a></button>
                        <div class="dropdown-content">
                            <a href="/events.html">Events</a>
                            <a href="/news-blog.html">News/Blog</a>
                            <a href="/press.html">Press</a>
                        </div>
                    </div>
                    <button class="dropbtn"><a href="/aboutus.html">About Us</a></button>
                </ul>
            </section>
            <a class="account-link" href="/account.html"><img class="account-icon"
                    src="/images/account_icon.png">Account</a>

        </nav> -->
        <nav class="header-container">
          <section class="nav-section">
            <img class="logo" src="images/logo.png" alt="logo">
            <h1 class="coffee-title">THREE PINES COFFEE</h1>
            <button class="dropbtn">
              <a class="main-nav-link" href="/menu.html">Menu</a>
            </button>
            <div class="dropdown">
              <button class="dropbtn">
                <a class="main-nav-link" href="/community.html">Community</a>
              </button>
              <div class="dropdown-content">
                <a class="main-nav-link" href="/events.html">Events</a>
                <a class="main-nav-link" href="/news-blog.html">News/Blog</a>
                <a class="main-nav-link" href="/press.html">Press</a>
              </div>
            </div>
            <button class="dropbtn">
              <a class="main-nav-link" href="/aboutus.html">About Us</a>
            </button>
          </section>
          <a class="account-link main-nav-link" href="/account.html">
            <img class="account-icon" src="/images/account_icon.png">
            Account
          </a>
        </nav>
    </header>
</body>

</html>