.about-us h1 {
  font-family: var(--title);
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 32px;
}
.about-us p {
  font-family: var(--content);
  font-size: 20px;
  margin-top: 1em;
}
.about-us-hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.about-us {
  margin-left: 25em;
  margin-right: 25em;
}
.about-us-center-text {
  text-align: center;
}
.about-us-signature p {
  margin-top: 0;
}
