/* community menu*/
.event-nav {
  /* display: inline-block; */
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.125rem 0.125rem var(--greyMed);
  font-family: var(--title);
  font-weight: 700;
}

.event-nav-list {
  /* display: inline-block; */
  padding: 0;
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.event-section-li {
  display: block;
  width: auto;
  height: auto;
}

.event-section-link {
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  color: var(--darkBrown);
  background-color: var(--sageGreen);
}

.event-section-link:hover {
  background-color: var(--forestGreen);
  color: var(--white);
}
/* event page content*/
.event-content h1 {
  font-family: var(--title);
  font-size: 32px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.event-content p {
  font-family: var(--content);
  font-size: 20px;
}
.event-content {
  margin: 0 25em;
}
.may-submissions-container {
  display: flex;
  justify-content: space-around;
}
.menu-card {
  /* border: 1px solid black; */
  width: 15rem;
  height: auto;
  margin: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 0.25rem var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-card-img {
  width: 100%;
  height: auto;
  /* border-radius: .5rem .5rem 0 0; */
}

.menu-card-text {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .menu-card-name {

} */

.menu-card-blurb {
  margin: 0.5rem 0;
  flex-grow: 1;
}

.menu-card-cost {
  justify-self: flex-end;
}
/* Recipe of the Month section*/

.submit-recipe-button {
  font-family: var(--title);
  font-size: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  background: var(--forestGreen);
  color: var(--white);
  height: 3em;
  width: 30em;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.submit-recipe-button:hover {
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.5);
}
