.homepage h1 {
  font-family: var(--title);
  font-size: 32px;
}
.homepage p {
  font-family: var(--content);
  font-size: 20px;
}
.homepage {
  margin-left: 25em;
  margin-right: 25em;
}
.homepage-hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.submit-recipe-button {
  font-family: var(--title);
  font-size: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  background: var(--forestGreen);
  color: var(--white);
  height: 3em;
  width: 30em;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.submit-recipe-button:hover {
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.5);
}
.delivery-buttons {
  display: flex;
  justify-content: center;
}
.delivery-buttons a {
  text-decoration: none;
  color: var(--white);
}
.ubereats-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title);
  font-size: 20px;
  background: var(--forestGreen);
  color: var(--white);
  height: 3em;
  width: 15em;
  border-radius: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.doordash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title);
  font-size: 20px;
  background: var(--forestGreen);
  color: var(--white);
  height: 3em;
  width: 15em;
  border-radius: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.doordash-button:hover {
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.5);
}
.ubereats-button:hover {
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.5);
}
