/* page nav */

.menu-nav {
  /* display: inline-block; */
  margin: 0 auto;
  margin-bottom: .5rem;
  border-radius: 0 0 .5rem .5rem;
  overflow: hidden;
  box-shadow: 0 .125rem .125rem .0125rem var(--greyMed);
  font-family: var(--title);
  font-weight: 700;
}

.menu-nav-list {
  padding: 0;
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-nav-li {
  display: block;
  width: auto;
  height: auto;
}

.menu-nav-link {
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  color: var(--darkBrown);
  background-color: var(--sageGreen);
}

.menu-nav-link:hover {
  background-color: var(--forestGreen);
  color: var(--white);
}

/* page content */

.menu-category {
  max-width: 88rem;
}

.menu-header {
  background-color: var(--offwhite);
  padding: 1rem;
}

.menu-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-card {
  /* border: 1px solid black; */
  width: 15rem;
  height: auto;
  margin: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 .25rem var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-card-img {
  width: 100%;
  height: auto;
  /* border-radius: .5rem .5rem 0 0; */
}

.menu-card-text {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .menu-card-name {

} */

.menu-card-blurb {
  margin: .5rem 0;
  flex-grow: 1;
}

.menu-card-cost {
  justify-self: flex-end;
}