.daily-banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center 30%;
  margin-bottom: 2rem;
}
/* https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */

.recipe-form {
  display: flex;
  flex-direction: row;
  
}